<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Navigation Bar</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
	<style type="text/css">
		*{
			text-decoration: none;
		}
		
		
		.logo a{
			font-size: 35px; font-weight: 600; color: white;
		}
		li{
			list-style: none; display: inline-block;
		}
		li a{
			color: white; font-size: 18px; font-weight: bold; margin-right: 25px;
		}
		button{
			background-color: black; margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
		}
		button a{
			color: white; font-weight: bold; font-size: 15px;
		}
	</style>
</head>
<body>
	
		
		
			<ul>
				
				<button><a href="/registration/">register</a></button>
				<button><a href="/login/">login</a></button>
			</ul>
		
	
</body>
</html>